input,select{
  padding: 3%;
  border-radius: 2px;
  outline: none;
  border: blueviolet;
  width: 90%; 
}
input:hover{
  outline: #61dafb;
}
  .auth-form {
padding: 2%;
border-radius: 10px;
text-align: center;
width: 30%;
margin: auto;
backdrop-filter: blur(25px);
}

.login-sub-div, .auth-form > form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.auth-form>h2{
    color: white;
}

.auth-form label{
    color: white;
}
